<div class="card d-flex align-items-stretch">
  <div (click)="actionClick.emit(typeClick.VIEW)" class="container-img position-relative">
    <label *ngIf="superHero.earth" class="position-absolute font-weight-bold mt-1 ml-1">{{ superHero.earth }}</label>
    <div *ngIf="superHero.urlCover" class="img" [style.background-image]="'url('+superHero.urlCover+')'"></div>
    <div *ngIf="!superHero.urlCover" class="bg-white img-not-found d-flex justify-content-center align-items-center">
      <label class="font-weight-bold">Sem foto</label>
    </div>
  </div>

  <i (click)="actionClick.emit(typeClick.DELETE)" class="icon-trash position-absolute text-white p-1"></i>

  <content (click)="actionClick.emit(typeClick.VIEW)" class="align-items-center position-relative">
    <label class="m-0 p-3 position-absolute w-100">
      <p class="text-white">{{ superHero.name }}</p>
      <p>{{ superHero.codename }}</p>
    </label>
  </content>
</div>