main {
  .container-add {
    button {
      font-size     : 12px;
      color         : #000;
      border        : 1px solid rgba(21, 21, 21, 0.3);
      letter-spacing: 1px;
      transition    : linear 300ms;

      &:hover,
      &:focus {
        color     : #fff;
        background: var(--theme-red);
        transition: linear 300ms;
        border    : 1px solid var(--theme-red);
      }
    }
  }

  .container-search {
    input {
      border       : 0;
      border-bottom: 2px solid var(--theme-black-light);
      padding      : 4px 10px 5px 25px;
      transition   : linear 300ms;

      &:focus {
        border-bottom-color: var(--theme-red);
        transition         : linear 300ms;
      }
    }

    i {
      margin-top: 5px;
      z-index   : 1;
    }
  }

  .container-filter {
    font-size: 16px;

    .custom-select {
      box-shadow: none;
      width     : 120px;

      @media only screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}