@import './assets/scss/pagination-controls.scss';
@import './assets/scss/ngb-carousel.scss';


@font-face {
  font-family: 'inter-light';
  src        :
    url('./assets/font/inter/inter-light.woff') format('woff'),
    url('./assets/font/inter/inter-light.woff2') format('woff2'),
    url('./assets/font/inter/inter-light.eot') format('eot'),
    url('./assets/font/inter/inter-light.otf') format('otf'),
    url('./assets/font/inter/inter-light.ttf') format('ttf');
}

@font-face {
  font-family: 'heroes-legend';
  src        :
    url('./assets/font/heroes-legend/heroes-legend.eot') format('eot'),
    url('./assets/font/heroes-legend/heroes-legend.otf') format('otf'),
    url('./assets/font/heroes-legend/heroes-legend.ttf') format('ttf'),
    url('./assets/font/heroes-legend/heroes-legend.woff') format('woff'),
    url('./assets/font/heroes-legend/heroes-legend.woff2') format('woff2'),
}


body,
html {
  height         : 100%;
  position       : relative;
  scroll-behavior: smooth;
}

* {
  font-family: 'inter-light';
  outline    : none;
}

:root {
  --theme-marvel     : #7a0201;
  --theme-red        : #e62429;
  --theme-golden     : #daa520;
  --theme-black-light: #151515;
}